
    <h2> Hello world and welcome to QueueA!</h2>
    This app is about remembering stuff<br>
    Content comming soon
    <br><br>
    16:30 - 18 April 2012 

    <% if user_signed_in? %>
        <p>
            <%= link_to('account settings', edit_user_registration_path) %> - 
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </p>
    <% else %>
        <%= link_to('Sign in', user_session_path) %> 
        <%= link_to('Sign up', new_user_registration_path) %>
    <% end %>