
    <h2> Hello world and welcome to QueueA!</h2>
    This app is about remembering stuff<br>
    Content comming soon
    <br/><br/>
    1900 - 23 April 2012 
    <br/><br/>
    <% if user_signed_in? %>
    	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
    	<%= link_to('Sign in', user_session_path) %> 
    	<%= link_to('Sign up', new_user_registration_path) %>
    <% end %>